/* line 6, ../../../app/styles/contentPage/contentPage.scss */

/* line 9, ../../../app/styles/contentPage/contentPage.scss */
.content-editor img{
  max-width:100%;
  height:auto;
  display: inline-block;
}
.content-editor a {
  color: #eb1d21;
  text-decoration: underline;
}

/* line 13, ../../../app/styles/contentPage/contentPage.scss */
.content-editor a:hover {
  text-decoration: none;
}

/* line 19, ../../../app/styles/contentPage/contentPage.scss */

.content-editor em,
.content-editor i {
  font-style: italic;
}

/* line 23, ../../../app/styles/contentPage/contentPage.scss */
.content-editor .comment {
  font-size: 12px;
}

/* line 27, ../../../app/styles/contentPage/contentPage.scss */

.content-editor .large-table {
  display: none;
}

/* line 31, ../../../app/styles/contentPage/contentPage.scss */
.content-editor .enhance-text {
  color: #eb1d21;
}

/* line 35, ../../../app/styles/contentPage/contentPage.scss */


.content-editor .small-line-height {
  line-height: 100% !important;
}

/* line 39, ../../../app/styles/contentPage/contentPage.scss */

.content-editor .middle-line-height {
  line-height: 200% !important;
}

/* line 43, ../../../app/styles/contentPage/contentPage.scss */


.content-editor .large-line-height {
  line-height: 300% !important;
}

/* line 46, ../../../app/styles/contentPage/contentPage.scss */

.content-editor .first-line-indent {
  text-indent: 24px;
}

/* line 50, ../../../app/styles/contentPage/contentPage.scss */


.content-editor ol {
  list-style-type: decimal;
}

/* line 54, ../../../app/styles/contentPage/contentPage.scss */


.content-editor ul {
  list-style-type: disc;
  margin-top:0 !important;
}
.content-editor ul li{
  list-style: disc;
  margin-top:0 !important;
}
/* line 58, ../../../app/styles/contentPage/contentPage.scss */


.content-editor .banner {
  margin: 15px 0;
}

/* line 60, ../../../app/styles/contentPage/contentPage.scss */


.content-editor .banner img {
  width: 100%;
}

/* line 65, ../../../app/styles/contentPage/contentPage.scss */

.content-editor h1 {
  margin: 0;
  font-size: 32px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

/* line 71, ../../../app/styles/contentPage/contentPage.scss */


.content-editor h2 {
  font-size: 14px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  line-height: 24px;
}

/* line 77, ../../../app/styles/contentPage/contentPage.scss */

.content-editor h3 {
  color: #eb1d21;
  margin-bottom: 13px;
  font-size: 13px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  line-height: 24px;
}

/* line 85, ../../../app/styles/contentPage/contentPage.scss */

.content-editor h4 {
  font-size: 13px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

/* line 94, ../../../app/styles/contentPage/contentPage.scss */


.content-editor li {
  margin: 7px 0;
  line-height: 17px;
  margin-left: 19px;
}

/* line 100, ../../../app/styles/contentPage/contentPage.scss */


.content-editor p {
  line-height: 24px;
}

/* line 108, ../../../app/styles/contentPage/contentPage.scss */


.content-editor table.no-padding-table tbody th,
.content-editor table.no-padding-table tbody td,
.content-editor table.no-padding-table thead th,
.content-editor table.no-padding-table thead td,
.content-editor table.no-padding-table tfoot th,
.content-editor table.no-padding-table tfoot td {
  padding: 0;
}

/* line 118, ../../../app/styles/contentPage/contentPage.scss */

.content-editor table.small-padding-table tbody th,
.content-editor table.small-padding-table tbody td,
.content-editor table.small-padding-table thead th,
.content-editor table.small-padding-table thead td,
.content-editor table.small-padding-table tfoot th,
.content-editor table.small-padding-table tfoot td {
  padding: 2px;
}

/* line 128, ../../../app/styles/contentPage/contentPage.scss */


.content-editor table.no-bolder-table tbody th,
.content-editor table.no-bolder-table tbody td,
.content-editor table.no-bolder-table thead th,
.content-editor table.no-bolder-table thead td,
.content-editor table.no-bolder-table tfoot th,
.content-editor table.no-bolder-table tfoot td {
  border: 0;
}

/* line 134, ../../../app/styles/contentPage/contentPage.scss */

.content-editor .highlight-cell {
  background: #f2f2f2;
}

/* line 142, ../../../app/styles/contentPage/contentPage.scss */


.content-editor table.align-top-table tbody th,
.content-editor table.align-top-table tbody td,
.content-editor table.align-top-table thead th,
.content-editor table.align-top-table thead td,
.content-editor table.align-top-table tfoot th,
.content-editor table.align-top-table tfoot td {
  vertical-align: top;
}

/* line 148, ../../../app/styles/contentPage/contentPage.scss */


.content-editor table {
  max-width: 100% !important;
}

/* line 152, ../../../app/styles/contentPage/contentPage.scss */

.content-editor table.first-column-header tbody tr:first-child td {
  border-top: 1px solid #cccccc;
}

/* line 156, ../../../app/styles/contentPage/contentPage.scss */
.content-editor table.first-column-header thead tr td,
.content-editor table.first-column-header thead tr th {
  background: none;
  text-align: left;
}

/* line 164, ../../../app/styles/contentPage/contentPage.scss */

.content-editor table.first-column-header thead tr th:first-child,
.content-editor table.first-column-header thead tr td:first-child,
.content-editor table.first-column-header tbody tr th:first-child,
.content-editor table.first-column-header tbody tr td:first-child {
  background: #f2f2f2;
  border-right-width: 0;
  text-align: center;
}

/* line 181, ../../../app/styles/contentPage/contentPage.scss */
.content-editor table thead tr th,
.content-editor table thead tr td,
.content-editor table tbody tr th,
.content-editor table tbody tr td,
.content-editor table tfoot tr th,
.content-editor table tfoot tr td {
  border: 1px solid #cccccc;
  padding: 10px;
}

/* line 191, ../../../app/styles/contentPage/contentPage.scss */
.content-editor table thead tr td,
.content-editor table thead tr th {
  text-align: center;
  border-bottom: 0;
  background: #f2f2f2;
}

/* line 200, ../../../app/styles/contentPage/contentPage.scss */
.content-editor .table-detail {
  margin-bottom: 17px;
}

/* line 204, ../../../app/styles/contentPage/contentPage.scss */
.content-editor .modal-dialog {
  width: 800px;
}

/* line 206, ../../../app/styles/contentPage/contentPage.scss */
.content-editor .modal-dialog table {
  width: 100%;
  margin-bottom: 0;
}

/* line 210, ../../../app/styles/contentPage/contentPage.scss */
.content-editor .modal-dialog .modal-footer {
  margin-top: 0;
}
